<%= render partial: "pages/partials/jumbotron" %>
<div id="mutate" class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h2>Featured Courses</h2>
      </div>
    </div>
    <%= render partial: "courses/partials/course_card" %>
  </div>
</div>
