<style media="screen">
  body { padding-top: 0px; }
</style>
<div class="jumbotron jumbotron-hero">
  <div class="container">
    <div id="mutate"></div>
    <h1>Bite-sized learning for all</h1>
    <p class="lead">
      <span class="subtitle">Delivered to your inbox weekly.</span>
    </p>
    <p class="text-center">
      <%= link_to "Explore Courses", courses_path, class: "btn btn-cta btn-lg" %>
    </p>
  </div>
</div>
