<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="pull-left">
          &copy; <%= Time.now.strftime("%Y") %> Fuber App. All rights reserverd
        </p>
        <p class="pull-right">
          Made with <i class="fa fa-heart"></i> in New York.
        </p>
      </div>
    </div>
  </div>
</footer>
